.sit {
  width: calc(10% - 1.5rem);
  margin: .5rem .5rem;
  height: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sits {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.basket-btn {
  display: block;
  margin: 1rem auto;
}

.basket-header {
  text-align: center;
}

.order-number {
  margin-right: 3rem;
}

.order {
  padding-top: 1rem;
  text-align: center;
}


