.sit {
  width: calc(10% - 1.5rem);
  margin: .5rem .5rem;
  height: 100px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sits {
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.basket-btn {
  display: block;
  margin: 1rem auto;
}

.basket-header {
  text-align: center;
}

.order-number {
  margin-right: 3rem;
}

.order {
  padding-top: 1rem;
  text-align: center;
}

.red-mark:before {
  content: "";
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 4px;
}

.green-mark:before {
  content: "";
    width: 20px;
    height: 20px;
    background-color: green;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 4px;
}

.inst {
  margin: 3rem auto;
  text-align: center;
}


